*{
    font-family: system-ui;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/* === BODY ===*/

body{
    background-color:#F9EBEA;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

/* === HEADER ===*/

header{
    background-color: bisque;
  
}

/* === NAV Y PSEUDO CLASES ===*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.ulinicio .liInicio{
    display: inline-block;
    padding: 0px 20px;
}

.aInicio{
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}

.aInicio:hover{
    color: #C0392B;
    text-decoration: underline;
    font-size: 20px;
    transition: all 0.3s;
}

.liInicio:hover{
    background-color: #FDEDEC;
    padding: 4px 8px;
    border-radius: 8px;
}

/* === IMAGEN LOGO DEL HEADER === */
.logo{
    width: 150px;
    height: 150px;
}

/* === TITULO DE LA EMPRESA ===*/
.titulo{
    font-size: 35px; 
    

}

/* DIV CLASEDESTINO*/
.claseDestino{
    text-align: center;
}

/* CLASE H3 INDEX */

.claseH3{
    font-size: 25px;
}
    
/* CLASE INPUT INDEX */
.claseInput1{
    gap: 5px;
    padding: 5px;
}

/* CLASE DIV MAIN */

.claseDivMain{
    border: 2px solid #FADBD8;
    gap: 20px;

    display: flex;
    justify-content:flex-end;
    flex-direction:row;

}

.foto{
    width: 250px;
    height: 250px;
    
    
}




/* FOOTER */

footer{
    height: 100px;
    background-color: bisque;
    color:black;
    margin-top: auto;
    

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



/* a del FOOTER claseFin*/

.claseFin{
    color: black;
    padding: 5px;
    text-decoration: none;
    transition: all 0.3s;
    gap: 15px;
    padding: 0px 15px;
    margin: 0px 20px;
    
}  

.claseFin:hover{
    background-color: #FDEDEC;
    color: #C0392B;
    text-decoration: underline;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 20px;
    border-radius: 8px;
}
